/* CSS normalization */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root {
  /* Color Scheme */
  /* Font Scheme */
  --inter: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  --joan: 'Joan', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: var(--inter);
  font-size: 12px;
}

a {
  text-decoration: none;
}
